#header {
    font-family: sans-serif;
}

#header a:link,
#header a:visited,
#header a:focus,
#header a:hover,
#header a:active,
article header h2 a {
    text-decoration: none;
}

#header a h1 {
    font-size: 4em;
}

article p {
    line-height: 1.5;
}

article header h2 a {
    font-family: sans-serif;}

pre {
    padding-left: 2em;
    overflow: auto;
}

.strokeme {
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}
