<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8">
    {% for filename in ['layout', 'colors', 'nav', 'content', 'pygments'] %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ filename }}.css" type="text/css">
    {% endfor %}

    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
          type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}"
          type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}

  </head>
  <body>
    <div id="margins">
      <header id="header">
        <a href="{{ SITEURL }}/index.html"><h1 class="strokeme">{{ SITENAME }}</h1></a>
      </header>
      {% block category_nav %}
        {% if categories %}
          <nav>
            <ul>
              {% for category, articles in categories %}
                <li><a href="{{ SITEURL }}/category/{{category}}.html">{{ category }}</a></li> 
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}
      <div id="main">
        {% block content %}
        {% endblock %}
      </div>
      <footer>
        © by Simon Liedtke • 
        Powered by <a href="http://docs.notmyidea.org/alexis/pelican/">pelican</a>.
      </footer>
    </div>
    {% include 'disqus_script.html' %}
  </body>
</html>
